<!DOCTYPE html>
<html lang="en">
  <head>

<title>Music Search App</title>
 

    
  </head>
 
  <body>
<form action="/search" method="post">

<label>Song Name</label>
        <input type="name" name="song_name">

     <BR>
    <BR>

    <label>Artist Name</label>
        <input type="name" name="artist_name">

     <BR>
    <BR>

      <label>Movie/Series Name</label>
        <input type="name" name="movie_name">

    <BR>
    <BR>
    <label>Format</label>
  <input type="radio" name="format" value="audio"> Audio
  <input type="radio" name="format" value="video"> Video<br>

     <BR>
    <BR>



 <input type="submit" value="Submit">
</form>
    
 
     
 
  </body>
</html> 